/* body */
.container {
    max-width: 940px;
}


/* フォーム */
.form-horizontal {
    max-width: 768px;
}


/* 各ページのタイトル 文字サイズ少し大きく*/
.title-p {
	font-size:  1.8rem;
}


fieldset {
	max-width: 640px;
    display: block;
    border: solid 1px #DDD !important;
    padding: 0 2rem 1rem 2rem;
    border-bottom: none;
    margin: 0 auto;
}

legend {
    width: auto;
    border: none;
    font-size: 1.5rem;
}

/* searchUpdate.php 検索結果のfieldset */
#result-update {
    margin-top: 2rem;
    padding-top: 2.5rem;
}

/* mainMenu.php button */
.btn-entry {
    margin: 3rem 0;
}


/* searchUpdate.php button */
.btn-seachUp {
    margin-top: 2rem;
}